language:
  - cpp

compiler:
  - clang

os:
  - linux
  - osx

dist:
  - bionic

osx_image:
  - xcode11

addons:
  apt:
    packages:
      - cmake
      - libssl-dev
      - libreadline-dev
      - libncurses5-dev
      - libetpan-dev
  homebrew:
    packages:
      - cmake
      - openssl
      - ncurses
      - libetpan

script:
  - mkdir -p build
  - cd build
  - cmake ..
  - make
